@using RecipeFinder_WebApp.Components;
@page "/counter"

<PageTitle>Counter</PageTitle>



<h1>Counter</h1>



@*<p role="status">Current count: @currentCount</p>

 <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
 *@
 <button class="btn btn-primary" @onclick="RedirectToRecipe">Click to search your recipe</button>

@* @code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }
}
 *@


@code {
    private void RedirectToRecipe()
    {
        NavigationManager.NavigateTo("https://www.allrecipes.com/", true);
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

}
