@page "/favoriteRecipes"
@using Microsoft.AspNetCore.Identity
@using RecipeFinder_WebApp.Data
@using System.Security.Claims
@using Recipe_Finder

@inject UserManager<ApplicationUser> userManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation



<h3>Favorite Recipes</h3>
<div class="container mt-5">

    @if (userProfile.FavoriteRecipes != null && userProfile.FavoriteRecipes.Count > 0)
    {
        <div class="row">
            @foreach (var rec in recipes)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        @if (!string.IsNullOrEmpty(rec.Image))
                        {
                            <img src="@rec.Image" class="card-img-top" alt="Recipe Image" style="height: 200px; object-fit: cover;" />
                        }
                        <div class="card-body">
                            <h5 class="card-title">@rec.RecipeName</h5>
                            <a href="#" @onclick="() => NavigateToRecipeDetails(rec.Url)" class="btn btn-outline-primary">View Recipe</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>You don't have any favorite recipes yet.</p>
        <button class="btn btn-outline-primary" @onclick="() => NavigateToHome()">Search recipes to Add!</button>
    }

</div>

@code {
    [Inject]
    private ApplicationDbContext DbContext { get; set; } = default!;


    private User userProfile { get; set; } = new User();
    private List<Recipe>? recipes { get; set; }

    private List<Recipe> favoriteRecipes { get; set; } = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            // Try to get Id from different claims
            var appuser = await userManager.GetUserAsync(user);

            userProfile = appuser.User;
            favoriteRecipes = userProfile.FavoriteRecipes;

        }
    }
    private void NavigateToRecipeDetails(string recipeUrl)
    {
        Navigation.NavigateTo($"/recipeDetails?url={Uri.EscapeDataString(recipeUrl)}");
    }

    private void NavigateToHome()
    {
        Navigation.NavigateTo("/");
    }
}
