@page "/"
@using System.Text.Json

<PageTitle>Home</PageTitle>

<h1>Recipe Finder!</h1>

@* <div>
    <EditForm Model="recipe" OnValidSubmit="SearchForRecipe" FormName="Homeform">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="RecipeName">Search any recipe here! :</label>
            <br />
            <InputText id="RecipeName" class="form-control" @bind-Value="recipe.RecipeName" placeholder="Search Recipe!!!" />
        </div>
        <br />

        <button class="btn btn-outline-primary" type="submit"@*  disabled="@isRequestInProgress ">Search For Recipe</button>
    </EditForm>
</div>

+@*@

@code {

    private Recipe recipe { get; set; } = new Recipe();
    private List<Recipe> recipes { get; set; } = new List<Recipe>();


    public void SearchForRecipe()
    {}
}












