@page "/"
@inject DataService userData
<PageTitle>Home</PageTitle>

<h1>Please fill in your details below...</h1>
<User></User>

 <h2>What Recipe are looking for??</h2>
<Recipe></Recipe>


@code {

}
