@page "/"
@using HtmlAgilityPack
@using Recipe_Finder
@inject ScrapperService Scrap
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Recipe Finder!</h1>

<div>
    <EditForm Model="@searchQuery" FormName="RecipeForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="RecipeName">Search any recipe here! :</label>
            <br />
            <InputText id="RecipeName" class="form-control" @bind-Value="searchQuery" placeholder="Search Recipe!!!" />
        </div>
        <br />
        <button class="btn btn-outline-primary" @onclick="SearchForRecipeFromCK">Search For Recipe on ChefKoch</button>
        <button class="btn btn-outline-primary" @onclick="SearchForRecipe">Search For Recipe on AllRecipes</button><br />

    </EditForm>
</div>

@if (recipes.Count > 0)
{
    <ol>
        @foreach (var rec in recipes)
        {
            <li>
                @if (!string.IsNullOrEmpty(rec.Image))
                {
                    <img src="@rec.Image" alt="Recipe Image" style="width: 100px; height: 100px;" />
                }
                <br />
                <a href="#" @onclick="() => NavigateToRecipeDetails(rec.Url)" style="cursor: pointer;">@rec.RecipeName</a>
            </li>
        }
    </ol>
}
else if (!string.IsNullOrEmpty(searchQuery))
{
    <p>No results found for "@searchQuery".</p>
}

@code {
    private List<Recipe> recipes { get; set; } = new List<Recipe>();
    private string searchQuery { get; set; } = string.Empty;

    private async Task SearchForRecipeFromCK()
    {
        recipes = await Scrap.ScrapeCKRecipies(searchQuery);
    } 
    
    private async Task SearchForRecipe()
    {
        recipes = await Scrap.ScrapeFromAllRecipe(searchQuery);
    }

    private void NavigateToRecipeDetails(string recipeUrl)
    {
        Navigation.NavigateTo($"/recipedetails?url={Uri.EscapeDataString(recipeUrl)}");
    }
}
