@page "/"

<PageTitle>Home</PageTitle>

<button class="btn btn-primary" @onclick="RedirectToRecipe">Click to search for your recipe in English!</button>
<br />
<br />
<button class="btn btn-primary" @onclick="RedirectToRecipe1">Click to search for your recipe in German!</button>
<br />
<br />
<button class="btn btn-primary" @onclick="RedirectToRecipe2">Click to search for your recipe in Greek!</button>
<br />
<br />

@code {
    private void RedirectToRecipe()
    {
        NavigationManager.NavigateTo("https://www.allrecipes.com/");
    }

    private void RedirectToRecipe1()
    {
        NavigationManager.NavigateTo("https://www.chefkoch.de/");
    }

    private void RedirectToRecipe2()
    {
        NavigationManager.NavigateTo("https://akispetretzikis.com/el");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

}
