@page "/profile"
@using Microsoft.AspNetCore.Identity
@using RecipeFinder_WebApp.Data
@using System.Security.Claims
@using Recipe_Finder
@using Microsoft.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject DataService DataService
@inject UserManager<ApplicationUser> _userManager
@inject WeeklyPlanService _weeklyPlan
@inject ApplicationDbContext _context

<h3>User Profile</h3>
<div class="container mt-5">
    @if (userProfile != null)
    {
        <p>Welcome, @appUser.UserName!</p>
        <br />

        <!-- Button for Favorite Recipes Popup -->
        <button class="btn btn-secondary mt-3" @onclick="TogglePopupFavorites">Favorite Recipes</button>

        <!-- Popup for Favorite Recipes -->
        @if (showFavoritesPopup)
        {
            <div class="popup">
                <div class="popup-content">
                    @if (userProfile.FavoriteRecipes != null && userProfile.FavoriteRecipes.Count > 0)
                    {
                        <RecipeOutput recipes="userProfile.FavoriteRecipes" AddRecipeButton="false"></RecipeOutput>
                    }
                    else
                    {
                        <p>You don't have any favorite recipes yet.</p>
                        <button class="btn btn-outline-primary" @onclick="NavigateToHome">Search recipes to Add!</button>
                    }
                </div>
            </div>
        }

        <!-- Button for Weekly Plan Popup -->
        <button class="btn btn-primary mt-3" @onclick="TogglePopupWeeklyPlan">Weekly Meal Plan</button>

        <!-- Popup for Weekly Plan -->
        @if (showWeeklyPlanPopup)
        {
            <div class="popup">
                <div class="popup-content">
                    @if (weeklyPlan != null && weeklyPlan.Count > 0)
                    {

                        @for (int i = 0; i < weeklyPlan.Count; i++)
                        {
                            var rec = weeklyPlan[i];
                            var day = daysOfWeek[i];

                            <div>
                                <div class="list-group-item">
                                    <h5>@day</h5> <!-- Display the day of the week above each recipe -->
                                    <div class="d-flex align-items-center">
                                        <input type="checkbox" id="checkbox-@rec.RecipeName" class="me-2" />
                                        @if (rec.Image != null && rec.Image.Length > 0)
                                        {
                                            <img src="data:image/png;base64,@Convert.ToBase64String(rec.Image)" alt="Recipe Image" style="width: 50px; height: 50px; object-fit: cover;" class="me-3" />
                                        }
                                        <div>
                                            <h6 class="mb-1">@rec.RecipeName</h6>
                                            <a href="#" @onclick="() => NavigateToRecipeDetails(rec.Url)" class="btn btn-outline-primary btn-sm">View Recipe</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <p>your weekly plan made on @userProfile.LastWeeklyPlanDate!</p>
                        <button class="btn btn-outline-secondary" @onclick="CreateNewPlan">Generate new plan</button>
                    }
                    else if (userProfile.FavoriteRecipes.Count < Constants.LIMIT_DAYS)
                    {
                        <p>You don't have any favorite recipes yet.</p>
                        <button class="btn btn-outline-primary" @onclick="NavigateToHome">Search recipes to Add!</button>
                    }
                    else
                    {
                        <p>No weekly plan generated yet.</p>
                        <button class="btn btn-outline-primary" @onclick="GenerateWeeklyPlan">Generate Weekly Plan</button>
                    }
                </div>
            </div>
        }

     @*    <button class="btn btn-secondary mt-3" @onclick="TogglePopupShoppingList">Shopping List</button>
        @if (showShoppingListPopup)
        {
            <ShoppingListOutput ShoppingList="userProfile.ShoppingList"></ShoppingListOutput>
        } *@



        <div class="col-md-6 col-md-offset-2"></div>
    }
    else
    {
        <p>Loading user profile...</p>
    }
</div>


@code {
    public User? userProfile { get; set; } = new User();

    private ApplicationUser appUser { get; set; } = new();

    private bool showWeeklyPlanPopup = false;

    private List<Recipe> weeklyPlan { get; set; } = new();

    private DateTime weeklyPlanGeneratedDate;

    private bool showFavoritesPopup { get; set; } = false;

    private bool showShoppingListPopup { get; set; } = false;

    private readonly string[] daysOfWeek = { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };

    private void TogglePopupFavorites()
    {
        showFavoritesPopup = !showFavoritesPopup; // Toggle the popup
    }
    private void TogglePopupShoppingList()
    {
        showShoppingListPopup = !showShoppingListPopup; // Toggle the popup
    }

    protected override async Task OnInitializedAsync()
    {
        appUser = await DataService.GetAuthenticatedUserAsync();

        userProfile = appUser?.User;
        // using ApplicationDbContext dbContext = new(new DbContextOptions<ApplicationDbContext> ());

        // var x = dbContext.Users.Include(x => x.User).Where(u => u.Email == "stelios.boursanidis@gmail.com").First();


        if (userProfile == null)
        {
            // User profile not found, force logout and redirect to login
            await SignInManager.SignOutAsync();
            Navigation.NavigateTo("Account/Register");
            return;
        }
    }

    public async Task CreateNewPlan()
    {
        await _weeklyPlan.ForceNewPlanAsync();
    }

    private void TogglePopupWeeklyPlan()
    {
        // If a weekly plan was generated more than 7 days ago, regenerate it
        if (weeklyPlan == null || (DateTime.Now - weeklyPlanGeneratedDate).TotalDays > Constants.WEEK_DAY_NUM)
        {
            GenerateWeeklyPlan();
        }
        showWeeklyPlanPopup = !showWeeklyPlanPopup;
    }
    private async Task GenerateWeeklyPlan()
    {

        // Logic to generate a weekly meal plan based on favorite recipes
        weeklyPlan = await _weeklyPlan.GenerateWeeklyPlanAsync();
        weeklyPlanGeneratedDate = DateTime.Now;
        showWeeklyPlanPopup = true;
    }

    private void NavigateToRecipeDetails(string recipeUrl)
    {
        Navigation.NavigateTo($"/recipeDetails?url={Uri.EscapeDataString(recipeUrl)}");
    }

    private async Task RemoveRecipeFromFavorite(Recipe rec)
    {
        await DataService.RemoveFavoriteRecipeAsync(rec);
        // Refresh the user's profile after removing the recipe
        userProfile.FavoriteRecipes.Remove(rec);
        StateHasChanged();
    }

    private void NavigateToHome()
    {
        Navigation.NavigateTo("/");
    }
}
