@page "/profile"
<h3>User Profile</h3>

<p>Welcome, @UserProfile.FirstName @UserProfile.LastName!</p>

<EditForm Model="UserProfile" OnInvalidSubmit="GotoThatSite">
    <InputSelect @bind-Value="UserProfile.FavoriteRecipes">
        @foreach(var recipe in recipes)
        {
            <option value="recipe.recipeName">@recipe.RecipeName</option>
        }
    </InputSelect>
</EditForm>

@code {
    private List<UsersProfile> Users { get; set; } = DataService.LoadUsersFromXmlFile(Constants.XML_USER_PATH);

    private UsersProfile UserProfile { get; set; } = new UsersProfile();

    private Recipe recipe { get; set; } = new Recipe();

    private List<Recipe> recipes { get; set; } = new List<Recipe>();

    protected override void OnInitialized()
    {
        Users = DataService.LoadUsersFromXmlFile(Constants.XML_USER_PATH);
        if (Users != null && Users.Count > 0)
        {
            UserProfile = Users[0];
        }
    }

    private void GotoThatSite()
    {
        
    }
}
