@page "/userAccount"
@using Recipe_Finder

<PageTitle>User Account</PageTitle>

<div class="container">
    <h1>User Account</h1>
    <p>Fill in your details below:</p>
    <User Title="User Details"></User>
</div>

@code {

}
