@page "/useraccount"

<PageTitle>User Account</PageTitle>

<div class="container">
    <h1>User Account</h1>
     <p>Fill in your details below:</p>
    
    <div class="card">
        <form>
            <div class="form-group">
                <User>:</User>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@code {
  
}
