@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
                    <a href="https://www.linkedin.com/in/stylianos-boursanidis/" target="_blank" class="btn btn-border">
                        <i class="bi bi-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://github.com/Stelioss4" target="_blank" class="btn btn-border">
                <i class="bi bi-github"></i> GitHub
                    </a>
            <AuthorizeView>
                <Authorized>

                    <button class="btn btn-primary" @onclick="NavigateToProfile">Profile</button>
                </Authorized>
                <NotAuthorized>

                    <div class="d-flex align-items-center">
                        <NavLink class="nav-link p-0" href="Account/LogIn">
                            <button class="btn btn-primary">Log in</button>
                        </NavLink>
                        <NavLink class="nav-link p-0" href="Account/Register">
                            <button class="btn btn-secondary">Register</button>
                        </NavLink>
                    </div>
                </NotAuthorized>


            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private void NavigateToUserAccount()
    {
        Navigation.NavigateTo("/Account/LogIn");
    }

    private void NavigateToLogIn()
    {
        Navigation.NavigateTo("/Account/userLogIn");
    }

    private void NavigateToProfile()
    {
        Navigation.NavigateTo("/profile");
    }
}
