<h3>LogIn</h3>

@using Recipe_Finder
@using System.Xml.Serialization
@using System.IO
@inject NavigationManager Navigation


<EditForm Model="UserProfile" OnValidSubmit="LogInUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="Email">Email:</label><br />
        <InputText id="Email" @bind-Value="UserProfile.Email" />
        <ValidationMessage For="@(() => UserProfile.Email)" />
    </div>

    <div>
        <label for="Password">Password:</label><br />
        <InputText type="password" id="Password" @bind-Value="UserProfile.Password" />
        <ValidationMessage For="@(() => UserProfile.Password)" />
    </div>

    <button class="btn btn-secondary" type="submit">Log In</button>
</EditForm>

@code {
    [Parameter]
    public string Title { get; set; }

    private User UserProfile { get; set; } = new User();


    private List<User> users { get; set; } = DataService.LoadUsersFromXmlFile(Constants.XML_USER_PATH);


    private void LogInUser()
    {
        users = DataService.LoadUsersFromXmlFile(Constants.XML_USER_PATH);

        // Find the user by email
        var user = users.FirstOrDefault(u => u.Email.Equals(UserProfile.Email, StringComparison.OrdinalIgnoreCase));

        if (user != null)
        {
            // Validate password
            if (user.Password.Equals(UserProfile.Password))
            {
                Console.WriteLine("User logged in successfully.");
                Navigation.NavigateTo("/profile"); // Redirect to profile page
            }
            else
            {
                Console.WriteLine("Invalid login credentials.");
            }
        }
        else
        {
            Console.WriteLine("User with this email does not exist.");
        }
    }

}