
@page "/search"

@using Recipe_Finder
@using System.IO
@using System.Net.Http
@using System.Net.Http.Json

<div class="search-container">
    <h3>Recipe</h3>
    <h2>Please search your recipes here...</h2><br />
    <input type="text" @bind="searchQuery" placeholder="Search Recipe..." />
    <button class="btn btn-primary" @onclick="Search">Search</button><br />
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    @if (searchResults != null)
    {
        <div class="search-results">
            <h3>Search Results</h3>
            @foreach (var result in searchResults)
            {
                <div>
                    <a href="@($"https://www.youtube.com/watch?v={result.VideoId}")" target="_blank">
                        <p>@result.Title</p>
                    </a>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public string Title { get; set; }

}
