

<h3>Recipe</h3>
<h2>Please search your recipes here...</h2>

<div>
    <label for="searchInput">Search:</label>
    <input type="text" id="searchInput" placeholder="Enter keywords...">
    <button class="btn btn-primary" onclick="search()">Search</button>
</div>


@code{


}