@using Recipe_Finder
@using System.Xml.Serialization
@using System.IO

<div class="alert alert-secondary mt-4" style="border: thin solid red; margin: 5px">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>

    <EditForm Model="UserProfile" OnSubmit="SaveUser">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="alert alert-secondary mt-4" style="border: thin solid blue; margin: 5px">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <label for="FirstName">First Name : </label><br />
            <InputText id="FirstName" @bind-Value="UserProfile.FirstName"></InputText><br />

            <label for="LastName">Last Name : </label><br />
            <InputText id="LastName" @bind-Value="UserProfile.LastName"></InputText><br />

            <label for="Email">Email : </label><br />
            <InputText type="Email" id="Email" @bind-Value="UserProfile.Email"></InputText><br />

            <label for="Email">Confirm Email : </label><br />
            <InputText type="Email" id="Email" @bind-Value="UserProfile.Email"></InputText><br />

            <label for="Password">Password : </label><br />
            <InputText type="Password" id="Password" @bind-Value="UserProfile.Password"></InputText><br />

            <label for="Password">Confirm Password : </label><br />
            <InputText type="Password" id="Password" @bind-Value="UserProfile.Password"></InputText><br />
        </div>
            <label for=" Address">Address :</label><br />
        <div class="alert alert-secondary mt-4" style="border: thin solid green; margin: 5px">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>

            <label for="Address.StreetsName">Street Name :</label><br />
            <InputText id="Address.StreetsName" @bind-Value="UserProfile.Address.StreetsName"></InputText><br />

            <label for="Address.Housenumber">House Number :</label><br />
            <InputText id="Address.Housenumber" @bind-Value="UserProfile.Address.Housenumber"></InputText><br />

            <label for="Address.PostalCode">Postal Code :</label><br />
            <InputText id="Address.PostalCode" @bind-Value="UserProfile.Address.PostalCode"></InputText><br />

            <label for="Address.City">City :</label><br />
            <InputText id="Address.City" @bind-Value="UserProfile.Address.City"></InputText><br /><br />

            <button type="submit" class="btn btn-primary">Register</button>
        </div>

    </EditForm>
</div>


@code {
    [Parameter]
    public string Title { get; set; }

    private UsersProfile UserProfile { get; set; } = new UsersProfile();


    private List<UsersProfile> users { get; set; } = new List<UsersProfile>();

    protected override void OnInitialized()
    {
        users = DataService.LoadUser();
    }

    private void SaveUser()
    {
        if (UserProfile == null)
        {
            Console.WriteLine("UserProfile is null. Cannot save user.");
            return;
        }

        users.Add(UserProfile);
        DataService.SaveUser(users);
        Console.WriteLine("User logged in successfully.");

        // Clear the input after saving
        UserProfile = new UsersProfile();
    }
}