@using Recipe_Finder
@using System.Xml.Serialization
@using System.IO

<EditForm>

</EditForm>
<div class="alert alert-secondary mt-4" style="border: thin solid black; margin: 5px">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        <br />
        Please enter your First Name:
        <br />
        <input type="text" @bind="UserProfile.FirstName" />
        <br />
        Please enter your Last Name:
        <br />
        <input type="text" @bind="UserProfile.LastName" />
        <br />
        Please enter your Email:
        <br />
        <input type="text" @bind="UserProfile.Email" />
        <br />
        Please enter a Password
        <br />
        <input type="text" @bind="UserProfile.Password" />
        <br />
        Please comfirm your Password
        <br />
        <input type="text" @bind="UserProfile.Password" />
        <br />
        Please enter your Address
        <br />
        -------------------------------------
        <br />
        Streets Name:
        <br />
        <input type="text" @bind="UserProfile.Address.StreetsName" />
        <br />
        House number:
        <br />
        <input type="text" @bind="UserProfile.Address.Housenumber" />
        <br />
        Postal code:
        <br />
        <input type="text" @bind="UserProfile.Address.PostalCode" />
        <br />
        City:
        <br />
        <input type="text" @bind="UserProfile.Address.City" />
        <br />
        <br />


        <button class="btn btn-primary" @onclick="SaveUser">Save and Continue </button>


    </span>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    private UsersProfile? UserProfile { get; set; } = new UsersProfile();

    private Address? Address { get; set; } = new Address();

    private List<UsersProfile> users { get; set; } = new List<UsersProfile>();


    private void SaveUser()
    {
        if (UserProfile != null)
        {
            users.Add(UserProfile);
            DataService.SaveUser(users);
            Console.WriteLine("User saved successfully.");
        }
    }
}
